<template>
    <div class="app">
        <vue-progress-bar></vue-progress-bar>
        <AppHeader/>
        <div class="app-body">
            <Sidebar :navItems="nav"/>
            <main class="main">
                <breadcrumb :list="list"/>
                <div class="container-fluid">
                    <router-view></router-view>
                </div>
            </main>
        </div>
        <AppFooter/>
    </div>
</template>

<script>
    import Axios from 'axios';
    import nav from '../_nav';
    import {Header as AppHeader, Sidebar, Footer as AppFooter, Breadcrumb} from '../components/';

    export default {
        name: 'full',
        components: {
            AppHeader,
            Sidebar,
            AppFooter,
            Breadcrumb
        },
        data() {
            return {
                nav: nav.items
            };
        },
        mounted() {
            this.$Progress.finish()
        },
        created() {
            this.$Progress.start()
            //  hook the progress bar to start before we move router-view
            this.$router.beforeEach((to, from, next) => {
                    //  does the page we want to go to have a meta.progress object
                    if (to.meta.progress !== undefined) {
                        let meta = to.meta.progress
                        // parse meta tags
                        this.$Progress.parseMeta(meta)
                    }
                    //  start the progress bar
                    this.$Progress.start()
                    //  continue to next page
                    next()
            })
            //  hook the progress bar to finish after we've finished moving router-view
            this.$router.afterEach((to, from) => {
                //  finish the progress bar
                this.$Progress.finish()
            })
        },
        computed: {
            name() {
                return this.$route.name;
            },
            list() {
                return this.$route.matched;
            }
        },
        beforeUpdate() {
            Axios.get('/api/validate')
                .then((res) => {

                })
                .catch((err) => {
                    this.$router.push({path: '/'});
                    Cookies.remove('name', {path: ''});
                    console.log(err);
                });
        }
    };
</script>
