<template>
  <footer class="app-footer">
    <span>TKJ POLTEKBA, 2018</span>
    <span class="float-right">Powered by Vue.Js and Laravel 5.5</span>
  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
