<template>
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">
            &#9776;
        </button>
        <b-link class="navbar-brand" to="#" style="border-bottom: none;"></b-link>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" @click="sidebarMinimize">&#9776;
        </button>
        <b-nav is-nav-bar class="d-md-down-none">
            <h3 style="margin-left:10px;color:#3d5c89">SIB POLTEKBA</h3>
            <!--<b-nav-item class="px-3">Dashboard</b-nav-item>-->
            <!--<b-nav-item class="px-3">Users</b-nav-item>-->
            <!--<b-nav-item class="px-3">Settings</b-nav-item>-->
        </b-nav>
        <b-nav is-nav-bar class="ml-auto">
            <!--<b-nav-item class="d-md-down-none">-->
                <!--<i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span>-->
            <!--</b-nav-item>-->
            <!--<b-nav-item class="d-md-down-none">-->
                <!--<i class="icon-list"></i>-->
            <!--</b-nav-item>-->
            <!--<b-nav-item class="d-md-down-none">-->
                <!--<i class="icon-location-pin"></i>-->
            <!--</b-nav-item>-->
            <!--<b-nav-item-dropdown right>-->
                <!--<template slot="button-content">-->
                    <!--<span class="d-md-down-none">admin</span>-->
                <!--</template>-->
                <!--<b-dropdown-header tag="div" class="text-center"><strong>Account</strong></b-dropdown-header>-->
                <!--<b-dropdown-item><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span>-->
                <!--</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span>-->
                <!--</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span>-->
                <!--</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span>-->
                <!--</b-dropdown-item>-->
                <!--<b-dropdown-header tag="div" class="text-center"><strong>Settings</strong></b-dropdown-header>-->
                <!--<b-dropdown-item><i class="fa fa-user"></i> Profile</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-wrench"></i> Settings</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span>-->
                <!--</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span>-->
                <!--</b-dropdown-item>-->
                <!--<b-dropdown-divider></b-dropdown-divider>-->
                <!--<b-dropdown-item><i class="fa fa-shield"></i> Lock Account</b-dropdown-item>-->
                <!--<b-dropdown-item><i class="fa fa-lock"></i> Logout</b-dropdown-item>-->
            <!--</b-nav-item-dropdown>-->
            <b-button variant="danger" style="margin-right:20px;" @click="doLogout"><i class="icon-logout"></i>&nbsp; Logout</b-button>
        </b-nav>
    </header>
</template>
<script>
    import Axios from 'axios';
    
    export default {
        name: 'header',
        methods: {
            sidebarToggle(e) {
                e.preventDefault();
                document.body.classList.toggle('sidebar-hidden');
            },
            sidebarMinimize(e) {
                e.preventDefault();
                document.body.classList.toggle('sidebar-minimized');
            },
            mobileSidebarToggle(e) {
                e.preventDefault();
                document.body.classList.toggle('sidebar-mobile-show');
            },
            asideToggle(e) {
                e.preventDefault();
                document.body.classList.toggle('aside-menu-hidden');
            },
            doLogout(){
                Axios.get('/api/logout')
                    .then((res) => {
                        console.log(res);
                        this.$router.push({ path: '/' });
                    }).catch((err) => {
                        console.log(err);
                })
            }
        }
    };
</script>
