<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <b-card class="bg-info" :no-block="true">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">{{ get_year_quantity }}</h4>
                        <p>Pengeluaran Tahun Ini</p>
                    </div>
                    <line-chart :download="true" download="expend-year-chart" :library="chartOptionsYear" :curve="false" label="Barang" :data="expend_year"></line-chart>
                </b-card>
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-4">
                <b-card class="bg-primary" :no-block="true">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">{{ get_month_quantity }}</h4>
                        <p>Pengeluaran Bulan Ini</p>
                    </div>
                    <line-chart :download="true" download="expend-month-chart" :library="chartOptions" :curve="true" label="Barang" :data="expend_month"></line-chart>
                </b-card>
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-4">
                <b-card class="bg-danger" :no-block="true">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">{{ get_today_quantity }}</h4>
                        <p>Pengeluaran Hari Ini</p>
                    </div>
                    <column-chart :download="true" download="expend-today-chart" :library="chartOptions" label="Barang":data="expend_today"></column-chart>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <b-card class="bg-info" :no-block="true">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">{{ get_yearInflow_quantity }}</h4>
                        <p>Pemasukan Tahun Ini</p>
                    </div>
                    <line-chart :download="true" download="inflow-year-chart" :library="chartOptionsYear" :curve="false" label="Barang" :data="inflow_year"></line-chart>
                </b-card>
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-4">
                <b-card class="bg-primary" :no-block="true">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">{{ get_monthInflow_quantity }}</h4>
                        <p>Pemasukan Bulan Ini</p>
                    </div>
                    <line-chart :download="true" download="inflow-month-chart" :library="chartOptions" :curve="true" label="Barang" :data="inflow_month"></line-chart>
                </b-card>
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-4">
                <b-card class="bg-danger" :no-block="true">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">{{ get_todayInflow_quantity }}</h4>
                        <p>Pemasukan Hari Ini</p>
                    </div>
                    <column-chart :download="true" download="inflow-today-chart" :library="chartOptions" label="Barang":data="inflow_today"></column-chart>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import ExpendThisMonthWidget from './dashboard/ExpendThisMonthWidget';
    import ExpendThisYearWidget from './dashboard/ExpendThisYearWidget';
    import CardLine3ChartExample from './dashboard/CardLine3ChartExample';
    import ExpendTodayWidget from './dashboard/ExpendTodayWidget';
    import MainChartExample from './dashboard/MainChartExample';
    import SocialBoxChartExample from './dashboard/SocialBoxChartExample';
    import {Callout} from '../components/';
    import Axios from 'axios';

    export default {
        name: 'dashboard',
        components: {
            Callout,
            ExpendThisMonthWidget,
            ExpendThisYearWidget,
            CardLine3ChartExample,
            ExpendTodayWidget,
            MainChartExample,
            SocialBoxChartExample
        },
        data: function () {
            return {
                chartOptions: {
                    layout: {
                        padding: {left: 10, right: 5, top: 5, bottom: 2}
                    },
                    scales: {
                        xAxes: [{
                            display: false // this hides the x-axis
                        }]
                    }
                },
                chartOptionsYear: {
                    layout: {
                        padding: {left: 10, right: 5, top: 5, bottom: 2}
                    },
                    scales: {
                        xAxes: [{
                            display: true, // this hides the x-axis
                            time: {
                                displayFormats: {quarter: 'MMM YYYY'},
                                tooltipFormat: 'MMM, YYYY',
                                unit: 'month',
                            }
                        }]
                    }
                },
                tableItems: [
                    {
                        avatar: {url: 'static/img/avatars/1.jpg', status: 'success'},
                        user: {name: 'Yiorgos Avraamu', new: true, registered: 'Jan 1, 2015'},
                        country: {name: 'USA', flag: 'static/img/flags/USA.png'},
                        usage: {value: 50, period: 'Jun 11, 2015 - Jul 10, 2015'},
                        payment: {name: 'Mastercard', icon: 'fa fa-cc-mastercard'},
                        activity: '10 sec ago'
                    },
                    {
                        avatar: {url: 'static/img/avatars/2.jpg', status: 'danger'},
                        user: {name: 'Avram Tarasios', new: false, registered: 'Jan 1, 2015'},
                        country: {name: 'Brazil', flag: 'static/img/flags/Brazil.png'},
                        usage: {value: 22, period: 'Jun 11, 2015 - Jul 10, 2015'},
                        payment: {name: 'Visa', icon: 'fa fa-cc-visa'},
                        activity: '5 minutes ago'
                    },
                    {
                        avatar: {url: 'static/img/avatars/3.jpg', status: 'warning'},
                        user: {name: 'Quintin Ed', new: true, registered: 'Jan 1, 2015'},
                        country: {name: 'India', flag: 'static/img/flags/India.png'},
                        usage: {value: 74, period: 'Jun 11, 2015 - Jul 10, 2015'},
                        payment: {name: 'Stripe', icon: 'fa fa-cc-stripe'},
                        activity: '1 hour ago'
                    },
                    {
                        avatar: {url: 'static/img/avatars/4.jpg', status: ''},
                        user: {name: 'Enéas Kwadwo', new: true, registered: 'Jan 1, 2015'},
                        country: {name: 'France', flag: 'static/img/flags/France.png'},
                        usage: {value: 98, period: 'Jun 11, 2015 - Jul 10, 2015'},
                        payment: {name: 'PayPal', icon: 'fa fa-paypal'},
                        activity: 'Last month'
                    },
                    {
                        avatar: {url: 'static/img/avatars/5.jpg', status: 'success'},
                        user: {name: 'Agapetus Tadeáš', new: true, registered: 'Jan 1, 2015'},
                        country: {name: 'Spain', flag: 'static/img/flags/Spain.png'},
                        usage: {value: 22, period: 'Jun 11, 2015 - Jul 10, 2015'},
                        payment: {name: 'Google Wallet', icon: 'fa fa-google-wallet'},
                        activity: 'Last week'
                    },
                    {
                        avatar: {url: 'static/img/avatars/6.jpg', status: 'danger'},
                        user: {name: 'Friderik Dávid', new: true, registered: 'Jan 1, 2015'},
                        country: {name: 'Poland', flag: 'static/img/flags/Poland.png'},
                        usage: {value: 43, period: 'Jun 11, 2015 - Jul 10, 2015'},
                        payment: {name: 'Amex', icon: 'fa fa-cc-amex'},
                        activity: 'Last week'
                    }
                ],
                tableFields: {
                    avatar: {
                        label: '<i class="icon-people"></i>',
                        class: 'text-center'
                    },
                    user: {
                        label: 'User'
                    },
                    country: {
                        label: 'Country',
                        class: 'text-center'
                    },
                    usage: {
                        label: 'Usage'
                    },
                    payment: {
                        label: 'Payment method',
                        class: 'text-center'
                    },
                    activity: {
                        label: 'Activity'
                    }
                },
                expend_today: 0,
                expend_month: [],
                expend_year: [],

                inflow_today: 0,
                inflow_month: [],
                inflow_year: [],
            };
        },
        computed: {
            get_today_quantity(){
                let obj = _.flatten(this.expend_today);

                for(let i=0;i<obj.length;i++){
                    if(typeof obj[i] === "number"){
                        return obj[i];
                    }
                }
            },
            get_todayInflow_quantity(){
                let obj = _.flatten(this.inflow_today);

                for(let i=0;i<obj.length;i++){
                    if(typeof obj[i] === "number"){
                        return obj[i];
                    }
                }
            },
            get_month_quantity(){
                let val = 0;
                let obj = this.expend_month;

                _.forEach(obj, function(value, key) {
                    val += value
                });

                return val;
            },
            get_year_quantity(){
                let val = 0;
                let obj = this.expend_year;

                _.forEach(obj, function(value, key) {
                    val += value
                });

                return val;
            },
            get_monthInflow_quantity(){
                let val = 0;
                let obj = this.inflow_month;

                _.forEach(obj, function(value, key) {
                    val += value
                });

                return val;
            },
            get_yearInflow_quantity(){
                let val = 0;
                let obj = this.inflow_year;

                _.forEach(obj, function(value, key) {
                    val += value
                });

                return val;
            },
            get_year_download_label(){
                let obj = this.expend_year;
                let val = '';
                _.forEach(obj, function(value, key){
                    val = key;
                });

                let label = 'expend_year_chart_'+val;

                return label;
            },
            get_month_download_label(){
                let obj = this.expend_month;
                let val = '';
                _.forEach(obj, function(value, key){
                    val = key;
                });

                let label = 'expend_month_chart_'+val;

                return label;
            },
            get_today_download_label(){
                let obj = _.flatten(this.expend_today);
                let val = '';

                for(let i=0;i<obj.length;i++){
                    if(typeof obj[i] === "string"){
                        val = obj[i];
                    }
                }

                let label = 'expend_today_chart_'+val;
            }
        },
        methods: {
            variant(value) {
                let $variant;
                if (value <= 25) {
                    $variant = 'info';
                } else if (value > 25 && value <= 50) {
                    $variant = 'success';
                } else if (value > 50 && value <= 75) {
                    $variant = 'warning';
                } else if (value > 75 && value <= 100) {
                    $variant = 'danger';
                }
                return $variant;
            },
            fetchDataTodayWidget(){
                Axios.get('/api/widget/expenditure/today')
                    .then((res) => {
                        this.expend_today = res.data;
                    }).catch((err) => {
                    console.log(err);
                });
            },
            fetchDataMonthWidget(){
                Axios.get('/api/widget/expenditure/month')
                    .then((res) => {
                        this.expend_month = res.data;
                    }).catch((err) => {
                        console.log(err);
                })
            },
            fetchDataYearWidget(){
                Axios.get('/api/widget/expenditure/year')
                    .then((res) => {
                        this.expend_year = res.data;
                    }).catch((err) => {
                        console.log(err);
                })
            },
            fetchDataTodayWidgetInflow(){
                Axios.get('/api/widget/inflow/today')
                    .then((res) => {
                        this.inflow_today = res.data;
                    }).catch((err) => {
                    console.log(err);
                });
            },
            fetchDataMonthWidgetInflow(){
                Axios.get('/api/widget/inflow/month')
                    .then((res) => {
                        this.inflow_month = res.data;
                    }).catch((err) => {
                    console.log(err);
                })
            },
            fetchDataYearWidgetInflow(){
                Axios.get('/api/widget/inflow/year')
                    .then((res) => {
                        this.inflow_year = res.data;
                    }).catch((err) => {
                    console.log(err);
                })
            },
        },
        mounted(){
            this.fetchDataTodayWidget();
            this.fetchDataMonthWidget();
            this.fetchDataYearWidget();
            this.fetchDataTodayWidgetInflow();
            this.fetchDataMonthWidgetInflow();
            this.fetchDataYearWidgetInflow();
        }
    };
</script>
