<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Prefix</strong> konfigurasi
                    </div>

                    <b-form-fieldset label="Aset" :horizontal="true" :label-cols="3">
                        <b-input-group :left="prefix_asset" :right="prefix_asset_example">
                            <b-form-input id="asset" type="text" v-model="new_prefix_asset"></b-form-input>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-form-fieldset label="Barang" :horizontal="true" :label-cols="3">
                        <b-input-group :left="prefix_goods" :right="prefix_goods_example">
                            <b-form-input id="goods" type="text" v-model="new_prefix_goods"></b-form-input>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-form-fieldset label="Konsumer" :horizontal="true" :label-cols="3">
                        <b-input-group :left="prefix_consumer" :right="prefix_consumer_example">
                            <b-form-input id="consumer" type="text" v-model="new_prefix_consumer"></b-form-input>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-form-fieldset label="Pemasukan" :horizontal="true" :label-cols="3">
                        <b-input-group :left="prefix_inflow" :right="prefix_inflow_example">
                            <b-form-input id="inflow" type="text" v-model="new_prefix_inflow"></b-form-input>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-form-fieldset label="Pengeluaran" :horizontal="true" :label-cols="3">
                        <b-input-group :left="prefix_expenditure" :right="prefix_expenditure_example">
                            <b-form-input id="expenditure" type="text" v-model="new_prefix_expenditure"></b-form-input>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-form-fieldset label="Riwayat" :horizontal="true" :label-cols="3">
                        <b-input-group :left="prefix_history" :right="prefix_history_example">
                            <b-form-input id="history" type="text" v-model="new_prefix_history"></b-form-input>
                        </b-input-group>
                    </b-form-fieldset>

                    <div class="form-group form-actions">
                        <b-button type="submit" size="sm" variant="outline-primary" v-on:click="updateConfig"><i class="fa fa-dot-circle-o"></i> Simpan</b-button>
                        <b-button type="reset" size="sm" variant="outline-danger" v-on:click="resetConfigValue"><i class="fa fa-ban"></i> Atur Ulang</b-button>
                    </div>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Axios from 'axios'
    import $ from 'jquery'
    import swal from 'sweetalert'

    export default {
        name: 'configs',
        data() {
            return {
                goods_prefix: "",
                consumer_prefix: "",
                inflow_prefix: "",
                expenditure_prefix: "",
                asset_prefix: "",
                history_prefix: "",

                new_prefix_goods: "",
                new_prefix_consumer: "",
                new_prefix_inflow: "",
                new_prefix_expenditure: "",
                new_prefix_asset: "",
                new_prefix_history: "",

                goods_prefix_lastcount: "",
                consumer_prefix_lastcount: "",
                inflow_prefix_lastcount: "",
                expenditure_prefix_lastcount: "",
                asset_prefix_lastcount: "",
                history_prefix_lastcount: "",
            }
        },
        computed: {
            prefix_goods(){
                return "<span style='min-width:80px'>"+this.goods_prefix+"</span>";
            },
            prefix_consumer(){
                return "<span style='min-width:80px'>"+this.consumer_prefix+"</span>";
            },
            prefix_inflow(){
                return "<span style='min-width:80px'>"+this.inflow_prefix+"</span>";
            },
            prefix_expenditure(){
                return "<span style='min-width:80px'>"+this.expenditure_prefix+"</span>";
            },
            prefix_asset(){
                return "<span style='min-width:80px'>"+this.asset_prefix+"</span>";
            },
            prefix_history(){
                return "<span style='min-width:80px'>"+this.history_prefix+"</span>";
            },
            prefix_goods_example(){
                return "<span style='min-width:80px'>"+this.new_prefix_goods+this.goods_prefix_lastcount+"</span>";
            },
            prefix_consumer_example(){
                return "<span style='min-width:80px'>"+this.new_prefix_consumer+this.consumer_prefix_lastcount+"</span>";
            },
            prefix_inflow_example(){
                return "<span style='min-width:80px'>"+this.new_prefix_inflow+this.inflow_prefix_lastcount+"</span>";
            },
            prefix_expenditure_example(){
                return "<span style='min-width:80px'>"+this.new_prefix_expenditure+this.expenditure_prefix_lastcount+"</span>";
            },
            prefix_asset_example(){
                return "<span style='min-width:80px'>"+this.new_prefix_asset+this.asset_prefix_lastcount+"</span>";
            },
            prefix_history_example(){
                return "<span style='min-width:80px'>"+this.new_prefix_history+this.history_prefix_lastcount+"</span>";
            }
        },
        methods: {
            fetchConfig(){
                Axios.get('/api/config/view')
                    .then((res) => {
                        this.goods_prefix = res.data.data.config_goods_prefix;
                        this.consumer_prefix = res.data.data.config_consumer_prefix;
                        this.inflow_prefix = res.data.data.config_inflow_prefix;
                        this.expenditure_prefix = res.data.data.config_expenditure_prefix;
                        this.asset_prefix = res.data.data.config_asset_prefix;
                        this.history_prefix = res.data.data.config_history_prefix;

                        this.new_prefix_goods = this.goods_prefix;
                        this.new_prefix_consumer = this.consumer_prefix;
                        this.new_prefix_inflow = this.inflow_prefix;
                        this.new_prefix_expenditure = this.expenditure_prefix;
                        this.new_prefix_asset = this.asset_prefix;
                        this.new_prefix_history = this.history_prefix;

                        this.goods_prefix_lastcount = res.data.data.config_goods_lastcount;
                        this.consumer_prefix_lastcount = res.data.data.config_consumer_lastcount;
                        this.inflow_prefix_lastcount = res.data.data.config_inflow_lastcount;
                        this.expenditure_prefix_lastcount = res.data.data.config_expenditure_lastcount;
                        this.asset_prefix_lastcount = res.data.data.config_asset_lastcount;
                        this.history_prefix_lastcount = res.data.data.config_history_lastcount;
                    }).catch((err) => {
                    console.log(err);
                });
            },
            resetConfigValue(){
                this.new_prefix_goods = this.goods_prefix;
                $("#goods").val(this.goods_prefix);
                this.new_prefix_consumer = this.consumer_prefix;
                $("#consumer").val(this.consumer_prefix);
                this.new_prefix_inflow = this.inflow_prefix;
                $("#inflow").val(this.inflow_prefix);
                this.new_prefix_expenditure = this.expenditure_prefix;
                $("#expenditure").val(this.expenditure_prefix);
                this.new_prefix_asset = this.asset_prefix;
                $("#asset").val(this.asset_prefix);
            },
            updateConfig(){
                let payload = {
                    config_goods_prefix: this.new_prefix_goods,
                    config_asset_prefix: this.new_prefix_asset,
                    config_inflow_prefix: this.new_prefix_inflow,
                    config_expenditure_prefix: this.new_prefix_expenditure,
                    config_consumer_prefix: this.new_prefix_consumer,
                    config_history_prefix: this.new_prefix_history
                };

                Axios.put('/api/config/update', payload)
                    .then((res) => {
                        this.fetchConfig();
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        console.log('success');
                    }).catch((err) => {
                        console.log('failed');
                });
            }
        },
        created(){
            this.fetchConfig();
        },
        beforeUpdate() {
            Axios.get('/api/validate')
                .then((res) => {

                })
                .catch((err) => {
                    this.$router.push({path: '/'});
                    Cookies.remove('name', { path: '' });
                    console.log(err);
                });
        }
    };
</script>
