<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Konsumer</strong> form
                    </div>
                    <b-form-fieldset label="Nama Konsumer" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="consumer_name_id" type="text" v-model="consumer_name" v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset label="Email Konsumer" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="consumer_email_id" type="email" v-model="consumer_email" v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset label="Nomor Telepon Konsumer" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="consumer_phone_id" type="text" v-model="consumer_phone" v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset label="Website Konsumer" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="consumer_website_id" type="text" v-model="consumer_website" v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <div class="form-actions">
                        <b-button type="submit" variant="outline-primary" v-on:click="saveConsumer"
                                  v-if="this.mode == 'INSERT'"><i class="fa fa-dot-circle-o"></i> Simpan
                        </b-button>
                        <b-button type="submit" variant="outline-primary" v-if="this.mode == 'EDIT'" v-on:click="updateConsumer"><i
                                class="fa fa-dot-circle-o"></i> Perbarui
                        </b-button>
                        <b-button type="button" variant="outline-danger" v-if="this.mode == 'EDIT' || this.mode == 'VIEW'" v-on:click="cancelAction"><i
                                class="fa fa-ban"></i> Cancel
                        </b-button>
                    </div>
                    <div slot="footer">
                        <strong>MODE:</strong> {{ get_mode }}
                    </div>
                </b-card>

                <b-card>
                    <div slot="header">
                        <strong>Data</strong>
                    </div>
                    <div>
                        <vuetable ref="vuetable"
                                  api-url="/api/consumer/view/paginate"
                                  :fields="fields"
                                  pagination-path=""
                                  @vuetable:pagination-data="onPaginationData"
                        >
                            <template slot="actions" scope="props">
                                <b-button size="sm" variant="primary" v-on:click="viewRow(props.rowData)"
                                    >View
                                </b-button>
                                <b-button size="sm" variant="warning" v-on:click="editRow(props.rowData)">
                                    Edit
                                </b-button>
                                <b-button size="sm" variant="danger" v-on:click="deleteRow(props.rowData)">
                                    Delete
                                </b-button>
                            </template>
                        </vuetable>
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"
                                             :css="css.pagination">
                        </vuetable-pagination>
                    </div>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import BootstrapStyle from './bootstrap-css.js';
    import Axios from 'axios';
    import swal from 'sweetalert';
    import $ from 'jquery';

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo
        },
        name: 'Consumers',
        computed: {
            get_mode() {
                return this.mode;
            },
            consumer_name_id() {
                return this.mode + '_consumer_name';
            },
            consumer_email_id() {
                return this.mode + '_consumer_email';
            },
            consumer_phone_id() {
                return this.mode + '_consumer_phone';
            },
            consumer_website_id() {
                return this.mode + '_consumer_website';
            },
            not_edit_and_insert() {
                if(this.mode == 'INSERT' || this.mode == 'EDIT'){
                    return false;
                } else {
                    return true
                }
            }
        },
        data() {
            return {
                mode: "INSERT",
                css: BootstrapStyle,
                fields: [
                    {
                        name: 'consumer_no',
                        title: 'Konsumer No'
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions'
                    },
                    {
                        name: 'consumer_name',
                        title: 'Nama Konsumer'
                    },
                    {
                        name: 'created_at',
                        title: 'Tanggal Dibuat'
                    }
                ],
                consumer_no: "",
                consumer_name: "",
                consumer_email: "",
                consumer_phone: "",
                consumer_website: "",
            };
        },
        methods: {
            saveConsumer() {
                let payload = {
                    consumer_name: this.consumer_name,
                    consumer_email: this.consumer_email,
                    consumer_phone: this.consumer_phone,
                    consumer_website: this.consumer_website
                };

                Axios.post('/api/consumer/create', payload)
                    .then((res) => {
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        console.log('success');
                    }).catch((err) => {
                    console.log(err);
                });
            },
            updateConsumer() {
                let payload = {
                    consumer_no: this.consumer_no,
                    consumer_name: this.consumer_name,
                    consumer_email: this.consumer_email,
                    consumer_phone: this.consumer_phone,
                    consumer_website: this.consumer_website
                };

                Axios.put('/api/consumer/update', payload)
                    .then((res) => {
                        console.log('success');
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        this.mode = 'INSERT';
                    }).catch((err) => {
                        console.log(err);
                })
            },
            clearForm(){
                    this.consumer_no = "";
                    this.consumer_name = "";
                    this.consumer_email = "";
                    this.consumer_phone = "";
                    this.consumer_website = "";
                    $("#"+this.mode+"_consumer_name").val("");
                    $("#"+this.mode+"_consumer_email").val("");
                    $("#"+this.mode+"_consumer_phone").val("");
                    $("#"+this.mode+"_consumer_website").val("");
            },
            fetchConsumer(data){
                Axios.get('/api/consumer/'+data.consumer_no)
                    .then((res) => {
                    for(let i=0;i < res.data.data.length; i++) {
                        console.log(res.data.data[i].consumer_no);
                        this.consumer_no = res.data.data[i].consumer_no;
                        this.consumer_name = res.data.data[i].consumer_name;
                        this.consumer_email = res.data.data[i].consumer_email;
                        this.consumer_phone = res.data.data[i].consumer_phone;
                        this.consumer_website = res.data.data[i].consumer_website;
                        $("#" + this.mode + "_consumer_name").val(res.data.data[i].consumer_name);
                        $("#" + this.mode + "_consumer_email").val(res.data.data[i].consumer_email);
                        $("#" + this.mode + "_consumer_phone").val(res.data.data[i].consumer_phone);
                        $("#" + this.mode + "_consumer_website").val(res.data.data[i].consumer_website);
                    }
                        console.log('success');
                    }).catch((err) => {
                        console.log(err);
                });
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            },
            editRow(rowData) {
                this.clearForm();
                this.mode = "EDIT";
                this.fetchConsumer(rowData);
            },
            deleteRow(rowData) {
                swal("Anda yakin untuk hapus konsumer "+rowData.consumer_name,{
                    dangerMode: true,
                    buttons: true,
                }).then((res) => {
                    if(res === true){
                        Axios.delete('/api/consumer/delete/'+rowData.consumer_no)
                        .then((res) => {
                            swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh()
                        }).catch((err) => {
                            console.log(err);
                        })
                    }
                }).catch((err) => {
                    console.log('err', err);
                });
            },
            viewRow(rowData) {
                this.clearForm();
                this.mode = "VIEW";
                this.fetchConsumer(rowData);
            },
            cancelAction(){
                this.clearForm();
                this.mode = "INSERT";
            }
        }
    };
</script>
<style>
    .pagination {
        margin-top: 0;
    }

    .btn.btn-border {
        border: 1px solid;
        margin-right: 2px;
    }

    .vuetable-pagination-info {
        margin-top: 8px !important;
    }

    span.sort-icon {
        float: right;
        color: #ff9100;
    }
</style>
