<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Buat</strong> dokumen
                    </div>

                    <b-form-fieldset label="Tipe" :horizontal="true" :label-cols="3">
                        <v-select v-model="history_type" :options="filter"></v-select>
                    </b-form-fieldset>
                    <b-form-fieldset label="Tanggal Awal" v-if="history_type !== 'KARTU STOK'" :horizontal="true" :label-cols="3">
                        <datepicker placeholder="Pilih Tanggal Awal" v-model="start_date"></datepicker>
                    </b-form-fieldset>

                    <b-form-fieldset label="Tanggal Akhir" v-if="history_type !== 'KARTU STOK'" :horizontal="true" :label-cols="3">
                        <datepicker placeholder="Pilih Tanggal Akhir" v-model="end_date"></datepicker>
                    </b-form-fieldset>

                    <b-button variant="outline-primary" v-on:click="exportPDF">EXPORT PDF</b-button>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>

</template>

<script>
    import vSelect from 'vue-select';
    import Axios from 'axios';
    import moment from 'moment';
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            vSelect,
            Datepicker
        },
        name: 'History',
        data() {
            return {
                filter: ['PEMASUKAN', 'PENGELUARAN', 'KARTU STOK'],
                history_type: null,
                history: [],
                start_date: null,
                end_date: null,
                filtered: false,
            }
        },
        computed: {
          formatDate(){
              return this.history.map((item) => {
                  return moment(item.created_at).format('DD/MM/YYYY');
              })
            }
        },
        methods: {
            fetchHistoryData(){
                let value = this.history_type;

                if(value === 'PEMASUKAN'){
                    value = 'INFLOW';
                } else if(value === 'PENGELUARAN'){
                    value = 'EXPENDITURE';
                } else if(value === 'KARTU STOK'){
                    value = 'STOCKCARD';
                }

                Axios.get('/api/history/make/data/'+value)
                    .then((res) => {
                        this.history = res.data;
                    }).catch((err) => {
                        console.log(err);
                })
            },
            exportPDF(){
                if(this.history_type === 'PEMASUKAN'){
                    let start_date = moment(this.start_date).format('YYYY-MM-DD');
                    let end_date = moment(this.end_date).format('YYYY-MM-DD');

                    window.open('/inflow/pdf/'+start_date+'/'+end_date, '_blank');
                } else if(this.history_type === 'PENGELUARAN'){
                    let start_date = moment(this.start_date).format('YYYY-MM-DD');
                    let end_date = moment(this.end_date).format('YYYY-MM-DD');

                    window.open('/expenditure/pdf/'+start_date+'/'+end_date, '_blank');
                } else if(this.history_type === 'KARTU STOK'){
                    window.open('/stockcard', '_blank');
                }
            }
        }

    };
</script>
