<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Pengeluaran</strong> form
                    </div>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Nama Konsumer" :horizontal="true" :label-cols="3">
                        <v-select v-bind:id="goods_consumer_name_id" @input="fetchGoodsType"
                                  v-model="goods_consumer_name" :options="consumer" label="consumer_name"
                                  v-bind:disabled="not_insert">
                            <template slot="consumer" slot-scope="consumer">
                                <div>
                                    {{ consumer }}
                                </div>
                            </template>
                        </v-select>
                    </b-form-fieldset>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Tipe Barang" :horizontal="true" :label-cols="3">
                        <v-select v-bind:id="goods_type_id" @input="fetchGoodsBrand" v-model="goods_type"
                                  :options="type" label="goods_type_name" v-bind:disabled="not_insert">
                            <template slot="type" slot-scope="type">
                                <div>
                                    {{ type }}
                                </div>
                            </template>
                        </v-select>
                    </b-form-fieldset>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Nama Brand" :horizontal="true" :label-cols="3">
                        <v-select v-bind:id="goods_brand_name_id" v-model="goods_brand_name" @input="fetchGoodsData" :options="brand"
                                  v-bind:disabled="not_insert">
                            <template slot="brand" slot-scope="brand">
                                <div>
                                    {{ brand }}
                                </div>
                            </template>
                        </v-select>
                    </b-form-fieldset>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Nama Barang" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="goods_name_id" type="text" v-model="goods_name"
                                      :disabled="true"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Kuantitas" :horizontal="true">
                        <b-input-group class="col-lg-4" style="padding-left: 0px">
                            <b-input-group-button slot="left">
                                <b-button size="md" v-bind:id="increment_button_id"
                                          v-bind:disabled="not_edit_and_insert" variant="outline-primary"
                                          v-on:click="incrementQuantityGoods">+
                                </b-button>
                            </b-input-group-button>

                            <b-form-input v-bind:id="goods_quantity_id" :disabled="true"
                                          v-model="quantity_goods" type="text"
                                          style="text-align:center; margin-right: 7px;"></b-form-input>

                            <b-input-group-button slot="right">
                                <b-button size="md" v-bind:id="decrement_button_id"
                                          v-bind:disabled="not_edit_and_insert" variant="outline-danger"
                                          v-on:click="decrementQuantityGoods">-
                                </b-button>

                                <b-button style="margin-left: 10%;" type="submit" variant="outline-primary" v-on:click="insertExpendObj"
                                          v-if="this.mode == 'INSERT'"><i class="fa fa-dot-circle-o"></i> MASUKKAN KE LIST
                                </b-button>
                            </b-input-group-button>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-card v-if="this.mode === 'INSERT'">
                        <div class="h4 mb-0" v-if="this.mode == 'INSERT'">{{get_latest_quantity}}</div>
                        <div class="h4 mb-0" v-if="this.mode == 'VIEW'">{{get_latest_quantity_view}}</div>
                        <small class="text-muted text-uppercase font-weight-bold">Sisa Stock Barang</small>
                        <b-progress class="progress-xs mt-3 mb-0" v-if="this.mode == 'INSERT'" :value="get_latest_quantity_percentage"/>
                        <b-progress class="progress-xs mt-3 mb-0" v-if="this.mode == 'VIEW'" :value="get_latest_quantity_percentage_view"/>
                    </b-card>
                    <b-card header="<i class='fa fa-align-justify'></i> List Pengeluaran">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nama Barang</th>
                                <th>Nama Brand</th>
                                <th>Kuantitas</th>
                                <th v-if="this.mode === 'INSERT'">Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(expenditures, index) in expenditure">
                                    <td>{{ expenditures.expenditure_goods_name }}</td>
                                    <td>{{ expenditures.expenditure_goods_brand }}</td>
                                    <td>{{ expenditures.expenditure_goods_quantity }}</td>
                                    <td v-if="mode === 'INSERT'">
                                        <b-button type="button" variant="outline-warning"
                                                  v-on:click="edit_list_item(index)"><i
                                                class="fa fa-dot-circle-o"></i> Edit
                                        </b-button>
                                        <b-button type="button" variant="outline-danger"
                                                  v-on:click="delete_list_item(index)"><i
                                                class="fa fa-ban"></i> Delete
                                        </b-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </b-card>
                    <div class="form-actions">
                        <b-button type="submit" variant="outline-primary" v-on:click="saveExpenditure"
                                  v-if="this.mode == 'INSERT'"><i class="fa fa-dot-circle-o"></i> Simpan
                        </b-button>
                        <b-button type="submit" variant="outline-primary" v-if="this.mode == 'EDIT'"
                                  v-on:click="updateInflows"><i
                                class="fa fa-dot-circle-o"></i> Perbarui
                        </b-button>
                        <b-button type="button" variant="outline-danger"
                                  v-if="this.mode == 'EDIT' || this.mode == 'VIEW'" v-on:click="cancelAction"><i
                                class="fa fa-ban"></i> Cancel
                        </b-button>
                    </div>
                    <div slot="footer">
                        <strong>MODE:</strong> {{ get_mode }}
                    </div>
                </b-card>

                <b-card>
                    <div slot="header">
                        <strong>Data</strong>
                    </div>
                    <div>
                        <vuetable ref="vuetable"
                                  api-url="/api/expenditure/view/paginate"
                                  :fields="fields"
                                  pagination-path=""
                                  @vuetable:pagination-data="onPaginationData"
                        >
                            <template slot="actions" scope="props">
                                <b-button size="sm" variant="primary" v-on:click="viewRow(props.rowData)"
                                >View
                                </b-button>
                                <!--<b-button size="sm" variant="warning" v-on:click="editRow(props.rowData)">-->
                                    <!--Edit-->
                                <!--</b-button>-->
                                <b-button size="sm" variant="danger" v-on:click="deleteRow(props.rowData)">
                                    Delete
                                </b-button>
                            </template>
                        </vuetable>
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"
                                             :css="css.pagination">
                        </vuetable-pagination>
                    </div>
                </b-card>

                <b-modal title="Edit List Pengeluaran" class="modal-warning" v-model="edit_list_modal" @ok="do_edit_list_item">
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Nama Brand" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="edit_goods_brand_id" type="text" v-model="edit_goods_brand"
                                      :disabled="true"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Nama Barang" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="edit_goods_name_id" type="text" v-model="edit_goods_name"
                                      :disabled="true"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset v-if="this.mode === 'INSERT'" label="Kuantitas" :horizontal="true">
                        <b-input-group class="col-lg-4" style="padding-left: 0px">
                            <b-input-group-button slot="left">
                                <b-button size="md" v-bind:id="edit_increment_button_id"
                                          v-bind:disabled="not_edit_and_insert" variant="outline-primary"
                                          v-on:click="itemIncrementQuantityGoods">+
                                </b-button>
                            </b-input-group-button>

                            <b-form-input v-bind:id="edit_goods_quantity_id" :disabled="true"
                                          v-model="edit_quantity_goods" type="text"
                                          style="text-align:center; margin-right: 7px; width: 50px;"></b-form-input>

                            <b-input-group-button slot="right">
                                <b-button size="md" v-bind:id="edit_decrement_button_id"
                                          v-bind:disabled="not_edit_and_insert" variant="outline-danger"
                                          v-on:click="itemDecrementQuantityGoods">-
                                </b-button>
                            </b-input-group-button>
                        </b-input-group>
                    </b-form-fieldset>
                    <b-card v-if="this.mode === 'INSERT'">
                        <div class="h4 mb-0" v-if="this.mode == 'INSERT'">{{get_latest_quantity_edit}}</div>
                        <div class="h4 mb-0" v-if="this.mode == 'VIEW'">{{get_latest_quantity_view_edit}}</div>
                        <small class="text-muted text-uppercase font-weight-bold">Sisa Stock Barang</small>
                        <b-progress class="progress-xs mt-3 mb-0" v-if="this.mode == 'INSERT'" :value="get_latest_quantity_percentage_edit"/>
                    </b-card>
                </b-modal>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import BootstrapStyle from './bootstrap-css.js';
    import Axios from 'axios';
    import swal from 'sweetalert';
    import $ from 'jquery';
    import _ from 'lodash';
    import vSelect from 'vue-select';

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            vSelect
        },
        name: 'Expenditure',
        computed: {
            get_mode() {
                return this.mode;
            },
            goods_name_id() {
                return this.mode + '_goods_name';
            },
            goods_brand_name_id() {
                return this.mode + '_goods_brand_name';
            },
            edit_goods_name_id() {
                return this.mode + '_edit_goods_name';
            },
            edit_goods_brand_id() {
                return this.mode + '_edit_goods_brand_name';
            },
            goods_type_id() {
                return this.mode + '_goods_type';
            },
            goods_quantity_id() {
                return this.mode + '_goods_quantity';
            },
            edit_goods_quantity_id() {
                return this.mode + '_edit_goods_quantity';
            },
            goods_stock_id(){
                return this.mode + '_goods_stock';
            },
            goods_consumer_name_id() {
                return this.mode + '_goods_consumer_name';
            },
            increment_button_id() {
                return this.mode + '_goods_increment_button';
            },
            decrement_button_id() {
                return this.mode + '_goods_decrement_button';
            },
            edit_increment_button_id() {
                return this.mode + '_edit_goods_increment_button';
            },
            edit_decrement_button_id() {
                return this.mode + '_edit_goods_decrement_button';
            },
            not_edit_and_insert() {
                if (this.mode === 'INSERT' || this.mode === 'EDIT') {
                    return false;
                } else {
                    return true;
                }
            },
            not_insert() {
                if (this.mode === 'INSERT') {
                    return false;
                } else {
                    return true;
                }
            },
            get_latest_quantity() {
                return this.goods_stock - this.quantity_goods;
            },
            get_latest_quantity_edit() {
                return this.edit_goods_stock - this.edit_quantity_goods;
            },
            get_latest_quantity_view(){
                let stock_dump = this.goods_stock - this.quantity_goods;

                return stock_dump + this.quantity_goods;
            },
            get_latest_quantity_percentage(){
               let stock = this.quantity_goods/this.goods_stock*100;
               if(this.goods_stock !== 0) {
                   return 100 - stock;
               } else {
                   return 0;
               }
            },
            get_latest_quantity_percentage_edit(){
                let stock = this.edit_quantity_goods/this.edit_goods_stock*100;
                if(this.edit_goods_stock !== 0) {
                    return 100 - stock;
                } else {
                    return 0;
                }
            },
            get_latest_quantity_percentage_view(){
                let percentage = this.goods_stock/this.quantity_goods*100;

                if(this.goods_stock !== 0) {
                    return 100 - percentage;
                } else {
                    return 0;
                }
            }
        },
        data() {
            return {
                mode: "INSERT",
                css: BootstrapStyle,
                fields: [
                    {
                        name: 'expenditure_no',
                        title: 'Pemasukan No'
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions'
                    },
                    {
                        name: 'expenditure_consumer_name',
                        title: 'Nama Konsumer'
                    },
                    {
                        name: 'expenditure_goods_allquantity',
                        title: 'Kuantitas'
                    },
                    {
                        name: 'created_at',
                        title: 'Tanggal Pengeluaran'
                    }
                ],
                autogen: false,
                type: [],
                brand: [],
                consumer: [],
                expenditure: [],
                edit_list_modal: false,
                goods_data: [],
                quantity_goods: 0,
                quantity_goodstmp: 0,
                goods_stock: 0,
                goods_no: "",
                goods_name: "",
                goods_consumer_name: null,
                goods_brand_name: null,
                goods_type: null,

                edit_index_no: 0,
                edit_goods_brand: "",
                edit_goods_name: "",
                edit_quantity_goods: 0,
                edit_goods_stock: 0
            };
        },
        methods: {
            saveExpenditure() {
                let payload = {
                    expenditure: this.expenditure,
                    expenditure_consumer_name: this.goods_consumer_name,
                    expenditure_goods_no: this.goods_no,
                    expenditure_goods_name: this.goods_name,
                    expenditure_goods_brand: this.goods_brand_name,
                    expenditure_goods_type: this.goods_type,
                    expenditure_goods_quantity: this.quantity_goods,
                };

                Axios.post('/api/expenditure/create', payload)
                    .then((res) => {
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        this.expenditure = [];
                        console.log('success');
                    }).catch((err) => {
                    console.log(err);
                });
            },
            recalculateQuantity(obj, qty){
              for(let i=0;i < obj.length; i++){
                  obj[i].expenditure_goods_allquantity = qty;
              }

              this.quantity_goodstmp = qty;
            },
            insertExpendObj(){
                if(this.quantity_goods === 0){
                    swal({
                        text: "Jumlah Kuantitas Tidak Boleh Nol !",
                        icon: 'error',
                        timer: 3000
                    })
                } else {
                    let obj = this.goods_data;

                    obj.expenditure_consumer_name = this.goods_consumer_name;
                    obj.expenditure_goods_no = this.goods_no;
                    obj.expenditure_goods_name = this.goods_name;
                    obj.expenditure_goods_brand = this.goods_brand_name;
                    obj.expenditure_goods_type = this.goods_type;
                    obj.expenditure_goods_quantity = this.quantity_goods;
                    obj.expenditure_goods_allquantity = this.quantity_goodstmp + this.quantity_goods;

                    this.quantity_goodstmp = obj.expenditure_goods_allquantity;
                    this.clearExpendList();

                    this.expenditure.push(obj);

                    this.recalculateQuantity(this.expenditure, obj.expenditure_goods_allquantity);

                    console.log(obj);

                    console.log('quantity', this.quantity_goods);
                    console.log('goods stock', this.goods_stock);
                }
            },
            updateInflows() {
                let payload = {
                    inflow_no: this.inflow_no,
                    inflow_goods_quantity: this.quantity_goods
                };

                Axios.put('/api/inflow/update', payload)
                    .then((res) => {
                        console.log('success');
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        this.mode = 'INSERT';
                    }).catch((err) => {
                    console.log(err);
                });
            },
            incrementQuantityGoods() {
                if(this.quantity_goods < this.goods_stock) {
                    this.quantity_goods++;
                }
                $("#" + this.mode + "_goods_quantity").val(this.quantity_goods);
            },
            decrementQuantityGoods() {
                if (this.quantity_goods > 0) {
                    this.quantity_goods--;
                    $("#" + this.mode + "_goods_quantity").val(this.quantity_goods);
                }
            },
            itemIncrementQuantityGoods() {
                if(this.edit_quantity_goods < this.edit_goods_stock) {
                    this.edit_quantity_goods++;
                }
                $("#" + this.mode + "_edit_goods_quantity").val(this.edit_quantity_goods);
            },
            itemDecrementQuantityGoods() {
                if (this.edit_quantity_goods > 0) {
                    this.edit_quantity_goods--;
                    $("#" + this.mode + "_edit_goods_quantity").val(this.edit_quantity_goods);
                }
            },
            fetchGoodsBrand() {
                Axios.get('/api/goods/view/brand/' + this.goods_type)
                    .then((res) => {

                        if (this.mode === 'INSERT') {
                            this.goods_brand_name = null;
                            this.goods_name = "";
                        }

                        this.brand = res.data;
                        console.log('res', res);
                    }).catch((err) => {
                    console.log(err);
                });
            },
            validateBrand(goods_brand){
              let obj = _.find(this.expenditure, {'expenditure_goods_brand': goods_brand });

              if(obj){
                  return false
              } else {
                  return true
              }
            },
            fetchGoodsData() {
                this.quantity_goods = 0;
                $("#" + this.mode + "_goods_quantity").val(0);
                let validate_goods = this.validateBrand(this.goods_brand_name);

                if(validate_goods) {
                    Axios.get('/api/goods/view/data/' + this.goods_brand_name)
                        .then((res) => {
                            this.goods_data = res.data;
                            console.log('res', res.data);
                            this.goods_name = res.data.goods_name;
                            this.goods_no = res.data.goods_no;
                            $("#" + this.mode + "_goods_name").val(res.data.goods_name);

                            Axios.get('/api/history/get/quantity/' + res.data.goods_no)
                                .then((res2) => {
                                    this.goods_stock = res2.data;
                                    console.log('stock', res2.data);
                                })
                        }).catch((err) => {
                        console.log(err);
                    });
                } else {
                    this.goods_brand_name = null;
                    swal({
                        text: "Gagal, Barang Sudah Ada Di List Pengeluaran !",
                        icon: "error",
                        timer: 3000
                    });
                }
            },
            clearForm() {
                this.goods_name = "";
                this.goods_type = null;
                this.goods_brand_name = null;
                this.goods_consumer_name = null;
                this.quantity_goods = 0;
                this.quantity_goodstmp = 0;
                $("#" + this.mode + "_goods_name").val("");
                $("#" + this.mode + "_goods_quantity").val(0);
            },
            clearExpendList() {
                this.goods_name = "";
                this.goods_brand_name = null;
                this.quantity_goods = 0;
                $("#" + this.mode + "_goods_name").val("");
                $("#" + this.mode + "_goods_quantity").val(0);
            },
            delete_list_item(index_no) {
                let allqty = this.quantity_goodstmp - this.expenditure[this.edit_index_no].expenditure_goods_quantity;
                this.recalculateQuantityEditItem(allqty);

                this.expenditure.splice(index_no, 1);
            },
            edit_list_item(index_no) {
              this.edit_list_modal = true;

              this.edit_index_no = index_no;
              let obj = this.expenditure;

                Axios.get('/api/goods/view/data/' + obj[index_no].expenditure_goods_brand)
                    .then((res) => {
                        console.log('res', res.data);
                        this.edit_goods_name = res.data.goods_name;
                        this.edit_goods_brand = res.data.goods_brand;
                        this.edit_quantity_goods = obj[index_no].expenditure_goods_quantity;

                        $("#" + this.mode + "_edit_goods_name").val(res.data.goods_name);
                        $("#" + this.mode + "_edit_goods_brand").val(res.data.goods_brand);
                        $("#" + this.mode + "_edit_goods_quantity").val(obj[index_no].expenditure_goods_quantity);

                        Axios.get('/api/history/get/quantity/' + res.data.goods_no)
                            .then((res2) => {
                                this.edit_goods_stock = res2.data;
                            })
                    }).catch((err) => {
                    console.log(err);
                });
            },
            recalculateQuantityEditItem(allqty){
              for(let i=0;i<this.expenditure.length;i++){
                  this.expenditure[i].expenditure_goods_allquantity = allqty;
              }

              this.quantity_goodstmp = allqty;
            },
            do_edit_list_item(){
                if(this.edit_quantity_goods === 0){
                    swal({
                        icon: 'error',
                        text: 'Jumlah Kuantitas Tidak Boleh Nol !',
                        timer: 3000
                    })
                } else {
                    this.edit_list_modal = false;

                    let allqty = this.quantity_goodstmp - this.expenditure[this.edit_index_no].expenditure_goods_quantity + this.edit_quantity_goods;
                    this.recalculateQuantityEditItem(allqty);

                    this.expenditure[this.edit_index_no].expenditure_goods_quantity = this.edit_quantity_goods;
                }
            },
            fetchExpend(data) {
                this.expenditure = [];
                Axios.get('/api/expenditure/' + data.expenditure_no)
                    .then((res) => {
                        for(let i=0;i<res.data.data.length;i++){
                            this.expenditure.push(res.data.data[i]);
                        }
                    }).catch((err) => {
                    console.log(err);
                });
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            },
            editRow(rowData) {
                this.clearForm();
                this.mode = "EDIT";
                this.fetchInflow(rowData);
            },
            deleteRow(rowData) {
                swal("Anda yakin untuk hapus pemasukan barang " + rowData.expenditure_no + " dengan kuantitas " + rowData.expenditure_goods_allquantity, {
                    dangerMode: true,
                    buttons: true,
                }).then((res) => {
                    if (res === true) {
                        Axios.delete('/api/expenditure/delete/' + rowData.expenditure_no)
                            .then((res) => {
                                swal({
                                    title: "Berhasil",
                                    icon: "success",
                                    timer: 2000
                                });
                                this.$refs.vuetable.refresh();
                            }).catch((err) => {
                            console.log(err);
                        });
                    }
                }).catch((err) => {
                    console.log('err', err);
                });
            },
            viewRow(rowData) {
                this.clearForm();
                this.mode = "VIEW";
                this.fetchExpend(rowData);
            },
            cancelAction() {
                this.clearForm();
                this.expenditure = [];
                this.mode = "INSERT";
            },
            fetchGoodsType() {
                Axios.get('/api/goods/type/view/all')
                    .then((res) => {
                        this.type = res.data;
                    }).catch((err) => {
                    console.log('error', err);
                });
            },
            fetchConsumer() {
                Axios.get('/api/consumer/view/all')
                    .then((res) => {
                        this.consumer = res.data;
                    }).catch((err) => {
                    console.log('error', err);
                });
            }
        },
        created() {
            this.fetchConsumer();
        }
    };
</script>
<style>
    .pagination {
        margin-top: 0;
    }

    .btn.btn-border {
        border: 1px solid;
        margin-right: 2px;
    }

    .vuetable-pagination-info {
        margin-top: 8px !important;
    }

    span.sort-icon {
        float: right;
        color: #ff9100;
    }
</style>
