<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Tipe Barang</strong> form
                    </div>
                    <b-form-fieldset label="Nama Tipe Barang" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="goods_type_name_id" type="text" v-model="goods_type_name" v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <div class="form-actions">
                        <b-button type="submit" variant="outline-primary" v-on:click="saveGoodsType"
                                  v-if="this.mode == 'INSERT'"><i class="fa fa-dot-circle-o"></i> Simpan
                        </b-button>
                        <b-button type="submit" variant="outline-primary" v-if="this.mode == 'EDIT'" v-on:click="updateGoodsType"><i
                                class="fa fa-dot-circle-o"></i> Perbarui
                        </b-button>
                        <b-button type="button" variant="outline-danger" v-if="this.mode == 'EDIT' || this.mode == 'VIEW'" v-on:click="cancelAction"><i
                                class="fa fa-ban"></i> Cancel
                        </b-button>
                    </div>
                    <div slot="footer">
                        <strong>MODE:</strong> {{ get_mode }}
                    </div>
                </b-card>

                <b-card>
                    <div slot="header">
                        <strong>Data</strong>
                    </div>
                    <div>
                        <vuetable ref="vuetable"
                                  api-url="/api/goods/type/view/paginate"
                                  :fields="fields"
                                  pagination-path=""
                                  @vuetable:pagination-data="onPaginationData"
                        >
                            <template slot="actions" scope="props">
                                <b-button size="sm" variant="primary" v-on:click="viewRow(props.rowData)"
                                    >View
                                </b-button>
                                <b-button size="sm" variant="warning" v-on:click="editRow(props.rowData)">
                                    Edit
                                </b-button>
                                <b-button size="sm" variant="danger" v-on:click="deleteRow(props.rowData)">
                                    Delete
                                </b-button>
                            </template>
                        </vuetable>
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"
                                             :css="css.pagination">
                        </vuetable-pagination>
                    </div>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import BootstrapStyle from './bootstrap-css.js';
    import Axios from 'axios';
    import swal from 'sweetalert';
    import $ from 'jquery';

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo
        },
        name: 'GoodsType',
        computed: {
            get_mode() {
                return this.mode;
            },
            goods_type_name_id() {
                return this.mode + '_goods_type_name';
            },
            not_edit_and_insert() {
                if(this.mode == 'INSERT' || this.mode == 'EDIT'){
                    return false;
                } else {
                    return true
                }
            }
        },
        data() {
            return {
                mode: "INSERT",
                css: BootstrapStyle,
                fields: [
                    {
                        name: 'goods_type_name',
                        title: 'Tipe Barang'
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions'
                    },
                    {
                        name: 'created_at',
                        title: 'Tanggal Dibuat'
                    }
                ],
                goods_type_id: "",
                goods_type_name: "",
            };
        },
        methods: {
            saveGoodsType() {
                let payload = {
                    goods_type_name: this.goods_type_name
                };

                Axios.post('/api/goods/type/create', payload)
                    .then((res) => {
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        console.log('success');
                    }).catch((err) => {
                    console.log(err);
                });
            },
            updateGoodsType() {
                let payload = {
                    id: this.goods_type_id,
                    goods_type_name: this.goods_type_name
                };

                Axios.put('/api/goods/type/update', payload)
                    .then((res) => {
                        console.log('success');
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        this.mode = 'INSERT';
                    }).catch((err) => {
                        console.log(err);
                })
            },
            clearForm(){
                    this.goods_type_name = "";
                    $("#"+this.mode+"_goods_type_name").val("");
            },
            fetchGoodsType(data){
                Axios.get('/api/goods/type/'+data.id)
                    .then((res) => {
                    for(let i=0;i < res.data.data.length; i++) {
                        this.goods_type_id = res.data.data[i].id;
                        this.goods_type_name = res.data.data[i].goods_type_name;
                        $("#" + this.mode + "_goods_type_name").val(res.data.data[i].goods_type_name);
                    }
                        console.log('success');
                    }).catch((err) => {
                        console.log(err);
                });
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            },
            editRow(rowData) {
                this.clearForm();
                this.mode = "EDIT";
                this.fetchGoodsType(rowData);
            },
            deleteRow(rowData) {
                swal("Anda yakin untuk hapus tipe barang "+rowData.goods_type_name,{
                    dangerMode: true,
                    buttons: true,
                }).then((res) => {
                    if(res === true){
                        Axios.delete('/api/goods/type/delete/'+rowData.id)
                        .then((res) => {
                            swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh()
                        }).catch((err) => {
                            console.log(err);
                        })
                    }
                }).catch((err) => {
                    console.log('err', err);
                });
            },
            viewRow(rowData) {
                this.clearForm();
                this.mode = "VIEW";
                this.fetchGoodsType(rowData);
            },
            cancelAction(){
                this.clearForm();
                this.mode = "INSERT";
            }
        }
    };
</script>
<style>
    .pagination {
        margin-top: 0;
    }

    .btn.btn-border {
        border: 1px solid;
        margin-right: 2px;
    }

    .vuetable-pagination-info {
        margin-top: 8px !important;
    }

    span.sort-icon {
        float: right;
        color: #ff9100;
    }
</style>
