<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Master Barang</strong> form
                    </div>
                    <b-form-fieldset label="Nama Barang" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="goods_name_id" type="text" v-model="goods_name"
                                      v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset label="Nama Brand" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="goods_brand_name_id" type="email" v-model="goods_brand_name"
                                      v-bind:disabled="not_edit_and_insert"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset :inline="true" label="Barcode Barang" :horizontal="true" :label-cols="3">
                        <b-form :inline="true">
                            <div class="form-group" style="width: 80%;">
                                <b-form-input v-bind:id="goods_barcode_id" type="text" v-model="goods_barcode"
                                v-bind:disabled="not_edit_and_insert" style="width: 100%; margin-right: 1%;"></b-form-input>
                            </div>
                            <div class="form-group" style="width: 19%;">
                                <span style="margin-right: 10%;">AUTOGEN</span><b-form-checkbox v-model="autogen"></b-form-checkbox>
                            </div>
                        </b-form>
                    </b-form-fieldset>
                    <b-form-fieldset label="Tipe Barang" :horizontal="true" :label-cols="3">
                        <v-select v-model="goods_type" :options="type" v-bind:disabled="not_edit_and_insert"></v-select>
                    </b-form-fieldset>
                    <div class="form-actions">
                        <b-button type="submit" variant="outline-primary" v-on:click="saveGoods"
                                  v-if="this.mode == 'INSERT'"><i class="fa fa-dot-circle-o"></i> Simpan
                        </b-button>
                        <b-button type="submit" variant="outline-primary" v-if="this.mode == 'EDIT'"
                                  v-on:click="updateGoods"><i
                                class="fa fa-dot-circle-o"></i> Perbarui
                        </b-button>
                        <b-button type="button" variant="outline-danger"
                                  v-if="this.mode == 'EDIT' || this.mode == 'VIEW'" v-on:click="cancelAction"><i
                                class="fa fa-ban"></i> Cancel
                        </b-button>
                    </div>
                    <div slot="footer">
                        <strong>MODE:</strong> {{ get_mode }}
                    </div>
                </b-card>

                <b-card>
                <div slot="header">
                <strong>Data</strong>
                </div>
                <div>
                <vuetable ref="vuetable"
                api-url="/api/goods/view/paginate"
                :fields="fields"
                pagination-path=""
                @vuetable:pagination-data="onPaginationData"
                >
                <template slot="actions" scope="props">
                <b-button size="sm" variant="primary" v-on:click="viewRow(props.rowData)"
                >View
                </b-button>
                <b-button size="sm" variant="warning" v-on:click="editRow(props.rowData)">
                Edit
                </b-button>
                <b-button size="sm" variant="danger" v-on:click="deleteRow(props.rowData)">
                Delete
                </b-button>
                </template>
                </vuetable>
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"
                :css="css.pagination">
                </vuetable-pagination>
                </div>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import BootstrapStyle from './bootstrap-css.js';
    import Axios from 'axios';
    import swal from 'sweetalert';
    import $ from 'jquery';
    import vSelect from 'vue-select';

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            vSelect
        },
        name: 'Goods',
        computed: {
            get_mode() {
                return this.mode;
            },
            goods_name_id() {
                return this.mode + '_goods_name';
            },
            goods_brand_name_id() {
                return this.mode + '_goods_brand_name';
            },
            goods_barcode_id() {
                return this.mode + '_goods_barcode';
            },
            goods_type_id() {
                return this.mode + '_goods_type';
            },
            not_edit_and_insert() {
                if (this.mode === 'INSERT' || this.mode === 'EDIT') {
                    return false;
                } else {
                    return true;
                }
            }
        },
        data() {
            return {
                mode: "INSERT",
                css: BootstrapStyle,
                fields: [
                    {
                        name: 'goods_no',
                        title: 'Barang No'
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions'
                    },
                    {
                        name: 'goods_brand',
                        title: 'Nama Brand'
                    },
                    {
                        name: 'goods_name',
                        title: 'Nama Barang'
                    },
                    {
                        name: 'created_at',
                        title: 'Tanggal Dibuat'
                    }
                ],
                autogen: false,
                type: [],
                goods_name: "",
                goods_brand_name: "",
                goods_barcode: "",
                goods_type: null,
            };
        },
        methods: {
            saveGoods() {
                let payload = {
                    goods_name: this.goods_name,
                    goods_brand: this.goods_brand_name,
                    goods_barcode: this.goods_barcode,
                    goods_type: this.goods_type
                };

                Axios.post('/api/goods/create', payload)
                    .then((res) => {
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        console.log('success');
                    }).catch((err) => {
                    console.log(err);
                });
            },
            updateGoods() {
                let payload = {
                    goods_name: this.goods_name,
                    goods_brand: this.goods_brand_name,
                    goods_barcode: this.goods_barcode,
                    goods_type: this.goods_type
                };

                Axios.put('/api/goods/update', payload)
                    .then((res) => {
                        console.log('success');
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
//                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        this.mode = 'INSERT';
                    }).catch((err) => {
                    console.log(err);
                });
            },
            clearForm() {
                this.goods_name = "";
                this.goods_brand_name = "";
                this.goods_barcode = "";
                this.goods_type = null;
                $("#" + this.mode + "_goods_name").val("");
                $("#" + this.mode + "_goods_brand_name").val("");
                $("#" + this.mode + "_goods_barcode").val("");
            },
            fetchGoods(data) {
                Axios.get('/api/goods/' + data.goods_no)
                    .then((res) => {
                        for (let i = 0; i < res.data.data.length; i++) {
                            this.goods_name = res.data.data[i].goods_name;
                            this.goods_brand_name = res.data.data[i].goods_brand;
                            this.goods_barcode = res.data.data[i].goods_barcode;
                            this.goods_type = res.data.data[i].goods_type;
                            $("#" + this.mode + "_goods_name").val(res.data.data[i].goods_name);
                            $("#" + this.mode + "_goods_brand_name").val(res.data.data[i].goods_brand);
                            $("#" + this.mode + "_goods_barcode").val(res.data.data[i].goods_barcode);
                        }
                        console.log('success');
                    }).catch((err) => {
                    console.log(err);
                });
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            },
            editRow(rowData) {
                this.clearForm();
                this.mode = "EDIT";
                this.fetchGoods(rowData);
            },
            deleteRow(rowData) {
                swal("Anda yakin untuk hapus barang " + rowData.goods_name + " dengan brand " + rowData.goods_brand, {
                    dangerMode: true,
                    buttons: true,
                }).then((res) => {
                    if (res === true) {
                        Axios.delete('/api/goods/delete/' + rowData.goods_no)
                            .then((res) => {
                                swal({
                                    title: "Berhasil",
                                    icon: "success",
                                    timer: 2000
                                });
                                this.$refs.vuetable.refresh();
                            }).catch((err) => {
                            console.log(err);
                        });
                    }
                }).catch((err) => {
                    console.log('err', err);
                });
            },
            viewRow(rowData) {
                this.clearForm();
                this.mode = "VIEW";
                this.fetchGoods(rowData);
            },
            cancelAction() {
                this.clearForm();
                this.mode = "INSERT";
            },
            fetchGoodsType(){
                Axios.get('/api/goods/type/view/all')
                    .then((res) => {
                    this.type = res.data;
                    }).catch((err) => {
                    console.log('error', err);
                })
            }
        },
        created() {
            this.fetchGoodsType();
        }
    };
</script>
<style>
    .pagination {
        margin-top: 0;
    }

    .btn.btn-border {
        border: 1px solid;
        margin-right: 2px;
    }

    .vuetable-pagination-info {
        margin-top: 8px !important;
    }

    span.sort-icon {
        float: right;
        color: #ff9100;
    }
</style>
