<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Riwayat</strong> sistem
                    </div>

                    <b-form-fieldset label="Filter" :horizontal="true" :label-cols="3">
                        <v-select v-model="history_type" @input="fetchHistoryData" :options="filter"></v-select>
                    </b-form-fieldset>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>No Riwayat</th>
                            <th>Riwayat</th>
                            <th>Barang</th>
                            <th>Nama Brand</th>
                            <th>Tipe Barang</th>
                            <th>Konsumer</th>
                            <th>Kuantitas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(h, index) in history">
                            <td>{{ formatDate[index] }}</td>
                            <td>{{ h.history_no }}</td>
                            <td>MELAKUKAN {{ h.history_type }}</td>
                            <td>{{ h.history_goods_name }}</td>
                            <td>{{ h.history_goods_brand }}</td>
                            <td>{{ h.history_goods_type }}</td>
                            <td>{{ h.history_consumer_name }}</td>
                            <td>{{ h.history_goods_quantity }}</td>
                        </tr>
                        </tbody>
                    </table>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>

</template>

<script>
    import vSelect from 'vue-select';
    import Axios from 'axios';
    import moment from 'moment';

    export default {
        components: {
            vSelect
        },
        name: 'History',
        data() {
            return {
                filter: ['SEMUA', 'PEMASUKAN', 'PENGELUARAN'],
                history_type: 'SEMUA',
                history: []
            }
        },
        computed: {
          formatDate(){
              return this.history.map((item) => {
                  return moment(item.created_at).format('DD/MM/YYYY');
              })
            }
        },
        methods: {
            fetchHistoryData(){
                let value = this.history_type;

                if(value === 'SEMUA'){
                    value = 'ALL';
                } else if(value === 'PEMASUKAN'){
                    value = 'INFLOW';
                } else if(value === 'PENGELUARAN'){
                    value = 'EXPENDITURE'
                }

                Axios.get('/api/history/make/data/'+value)
                    .then((res) => {
                        this.history = res.data;
                    }).catch((err) => {
                        console.log(err);
                })
            }
        }

    };
</script>
