<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Pemasukan</strong> form
                    </div>
                    <b-form-fieldset label="Tipe Barang" :horizontal="true" :label-cols="3">
                        <v-select v-bind:id="goods_type_id" @input="fetchGoodsBrand" v-model="goods_type" :options="type" label="goods_type_name" v-bind:disabled="not_insert">
                            <template slot="type" slot-scope="type">
                                <div>
                                    {{ type }}
                                </div>
                            </template>
                        </v-select>
                    </b-form-fieldset>
                    <b-form-fieldset label="Nama Brand" :horizontal="true" :label-cols="3">
                        <v-select v-model="goods_brand_name" @input="fetchGoodsData" :options="brand" v-bind:disabled="not_insert">
                            <template slot="brand" slot-scope="brand">
                                <div>
                                    {{ brand }}
                                </div>
                            </template>
                        </v-select>
                    </b-form-fieldset>
                    <b-form-fieldset label="Nama Barang" :horizontal="true" :label-cols="3">
                        <b-form-input v-bind:id="goods_name_id" type="text" v-model="goods_name"
                                      :disabled="true"></b-form-input>
                    </b-form-fieldset>
                    <b-form-fieldset label="Kuantitas" :horizontal="true">
                        <b-input-group class="col-lg-4" style="padding-left: 0px">
                            <b-input-group-button slot="left">
                                <b-button size="md" v-bind:id="increment_button_id" v-bind:disabled="not_edit_and_insert" variant="outline-primary" v-on:click="incrementQuantityGoods">+
                                </b-button>
                            </b-input-group-button>

                            <b-form-input v-bind:id="goods_quantity_id" v-bind:disabled="not_edit_and_insert" v-model="quantity_goods" type="text"
                                          style="text-align:center; margin-right: 7px;"></b-form-input>

                            <b-input-group-button slot="right">
                                <b-button size="md" v-bind:id="decrement_button_id" v-bind:disabled="not_edit_and_insert" variant="outline-danger" v-on:click="decrementQuantityGoods">-
                                </b-button>
                            </b-input-group-button>
                        </b-input-group>
                    </b-form-fieldset>
                    <div class="form-actions">
                        <b-button type="submit" variant="outline-primary" v-on:click="saveInflows"
                                  v-if="this.mode == 'INSERT'"><i class="fa fa-dot-circle-o"></i> Simpan
                        </b-button>
                        <b-button type="submit" variant="outline-primary" v-if="this.mode == 'EDIT'"
                                  v-on:click="updateInflows"><i
                                class="fa fa-dot-circle-o"></i> Perbarui
                        </b-button>
                        <b-button type="button" variant="outline-danger"
                                  v-if="this.mode == 'EDIT' || this.mode == 'VIEW'" v-on:click="cancelAction"><i
                                class="fa fa-ban"></i> Cancel
                        </b-button>
                    </div>
                    <div slot="footer">
                        <strong>MODE:</strong> {{ get_mode }}
                    </div>
                </b-card>

                <b-card>
                <div slot="header">
                <strong>Data</strong>
                </div>
                <div>
                <vuetable ref="vuetable"
                api-url="/api/inflow/view/paginate"
                :fields="fields"
                pagination-path=""
                @vuetable:pagination-data="onPaginationData"
                >
                <template slot="actions" scope="props">
                <b-button size="sm" variant="primary" v-on:click="viewRow(props.rowData)"
                >View
                </b-button>
                <b-button size="sm" variant="danger" v-on:click="deleteRow(props.rowData)">
                Delete
                </b-button>
                </template>
                </vuetable>
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"
                :css="css.pagination">
                </vuetable-pagination>
                </div>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import BootstrapStyle from './bootstrap-css.js';
    import Axios from 'axios';
    import swal from 'sweetalert';
    import $ from 'jquery';
    import vSelect from 'vue-select';

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            vSelect
        },
        name: 'Inflows',
        computed: {
            get_mode() {
                return this.mode;
            },
            goods_name_id() {
                return this.mode + '_goods_name';
            },
            goods_brand_name_id() {
                return this.mode + '_goods_brand_name';
            },
            goods_barcode_id() {
                return this.mode + '_goods_barcode';
            },
            goods_type_id() {
                return this.mode + '_goods_type';
            },
            goods_quantity_id() {
                return this.mode + '_goods_quantity';
            },
            increment_button_id(){
                return this.mode + '_goods_increment_button';
            },
            decrement_button_id(){
                return this.mode + '_goods_decrement_button';
            },
            not_edit_and_insert() {
                if (this.mode === 'INSERT' || this.mode === 'EDIT') {
                    return false;
                } else {
                    return true;
                }
            },
            not_insert() {
                if (this.mode === 'INSERT') {
                    return false;
                } else {
                    return true;
                }
            }
        },
        data() {
            return {
                mode: "INSERT",
                css: BootstrapStyle,
                fields: [
                    {
                        name: 'inflow_no',
                        title: 'Pemasukan No'
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions'
                    },
                    {
                        name: 'inflow_goods_brand',
                        title: 'Nama Brand'
                    },
                    {
                        name: 'inflow_goods_name',
                        title: 'Nama Barang'
                    },
                    {
                        name: 'inflow_goods_quantity',
                        title: 'Kuantitas'
                    },
                    {
                        name: 'created_at',
                        title: 'Tanggal Dibuat'
                    }
                ],
                autogen: false,
                type: [],
                brand: [],
                quantity_goods: 0,
                inflow_no: "",
                goods_no: "",
                goods_name: "",
                goods_brand_name: null,
                goods_barcode: "",
                goods_type: null,
            };
        },
        methods: {
            saveInflows() {
                let payload = {
                    inflow_goods_no: this.goods_no,
                    inflow_goods_name: this.goods_name,
                    inflow_goods_brand: this.goods_brand_name,
                    inflow_goods_type: this.goods_type,
                    inflow_goods_quantity: this.quantity_goods,
                };

                Axios.post('/api/inflow/create', payload)
                    .then((res) => {
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        console.log('success');
                    }).catch((err) => {
                    console.log(err);
                });
            },
            updateInflows() {
                let payload = {
                    inflow_no: this.inflow_no,
                    inflow_goods_quantity: this.quantity_goods
                };

                Axios.put('/api/inflow/update', payload)
                    .then((res) => {
                        console.log('success');
                        swal({
                            title: "Berhasil",
                            icon: "success",
                            timer: 2000
                        });
                        this.$refs.vuetable.refresh();
                        this.clearForm();
                        this.mode = 'INSERT';
                    }).catch((err) => {
                    console.log(err);
                });
            },
            incrementQuantityGoods() {
                this.quantity_goods++;
                $("#" + this.mode + "_goods_quantity").val(this.quantity_goods);
            },
            decrementQuantityGoods() {
                if (this.quantity_goods > 0) {
                    this.quantity_goods--;
                    $("#" + this.mode + "_goods_quantity").val(this.quantity_goods);
                }
            },
            fetchGoodsBrand(){
                this.$Progress.start();
                Axios.get('/api/goods/view/brand/'+this.goods_type)
                    .then((res) => {

                    if(this.mode === 'INSERT') {
                        this.goods_brand_name = null;
                        this.goods_name = ""
                    }

                    this.brand = res.data;
                    this.$Progress.finish();
                    console.log('res', res);
                    }).catch((err) => {
                    this.$Progress.fail();
                    console.log(err);
                })
            },
            fetchGoodsData(){
                this.$Progress.start();
                Axios.get('/api/goods/view/data/'+this.goods_brand_name)
                    .then((res) => {
                    console.log('res', res.data);
                    this.goods_name = res.data.goods_name;
                    this.goods_no = res.data.goods_no
                    $("#" + this.mode + "_goods_name").val(res.data.goods_name);
                        this.$Progress.finish();
                    }).catch((err) => {
                    this.$Progress.fail();
                    console.log(err);
                })
            },
            clearForm() {
                this.goods_name = "";
                this.goods_type = null;
                this.goods_brand_name = null;
                this.quantity_goods = 0;
                $("#" + this.mode + "_goods_name").val("");
                $("#" + this.mode + "_goods_quantity").val(0);
            },
            fetchInflow(data) {
                this.$Progress.start();
                Axios.get('/api/inflow/' + data.inflow_no)
                    .then((res) => {
                        for (let i = 0; i < res.data.data.length; i++) {
                            this.inflow_no = res.data.data[i].inflow_no;
                            this.goods_type = res.data.data[i].inflow_goods_type;
                            this.goods_brand_name = res.data.data[i].inflow_goods_brand;
                            this.goods_name = res.data.data[i].inflow_goods_name;
                            this.quantity_goods = res.data.data[i].inflow_goods_quantity;
                            $("#" + this.mode + "_goods_name").val(res.data.data[i].inflow_goods_name);
                            $("#" + this.mode + "_goods_quantity").val(res.data.data[i].inflow_goods_quantity);
                        }
                        console.log('success');
                        this.$Progress.finish();
                    }).catch((err) => {
                    this.$Progress.fail();
                    console.log(err);
                });
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            },
            editRow(rowData) {
                this.clearForm();
                this.mode = "EDIT";
                this.fetchInflow(rowData);
            },
            deleteRow(rowData) {
                swal("Anda yakin untuk hapus pemasukan barang " + rowData.inflow_goods_name + " dengan brand " + rowData.inflow_goods_brand, {
                    dangerMode: true,
                    buttons: true,
                }).then((res) => {
                    if (res === true) {
                        Axios.delete('/api/inflow/delete/' + rowData.inflow_no)
                            .then((res) => {
                                swal({
                                    title: "Berhasil",
                                    icon: "success",
                                    timer: 2000
                                });
                                this.$refs.vuetable.refresh();
                            }).catch((err) => {
                            console.log(err);
                        });
                    }
                }).catch((err) => {
                    console.log('err', err);
                });
            },
            viewRow(rowData) {
                this.clearForm();
                this.mode = "VIEW";
                this.fetchInflow(rowData);
            },
            cancelAction() {
                this.clearForm();
                this.mode = "INSERT";
            },
            fetchGoodsType(){
                Axios.get('/api/goods/type/view/all')
                    .then((res) => {
                    this.type = res.data;
                    }).catch((err) => {
                    console.log('error', err);
                })
            }
        },
        created() {
            this.fetchGoodsType();
        }
    };
</script>
<style>
    .pagination {
        margin-top: 0;
    }

    .btn.btn-border {
        border: 1px solid;
        margin-right: 2px;
    }

    .vuetable-pagination-info {
        margin-top: 8px !important;
    }

    span.sort-icon {
        float: right;
        color: #ff9100;
    }
</style>
