<template>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <b-card>
                    <div slot="header">
                        <strong>Stock</strong> barang
                    </div>
                    <b-button variant="outline-primary" style="margin-bottom:10px;" v-on:click="exportPDF">EXPORT PDF</b-button>
                    <div v-for="g in goods">
                        <b-card>
                            <h3>{{ g.goods_name }} - {{ g.goods_brand }}</h3>
                            <div class="h4 mb-0">{{ g.goods_quantity }}</div>
                            <small class="text-muted text-uppercase font-weight-bold">Stock Barang</small>
                        </b-card>
                    </div>
                </b-card>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import BootstrapStyle from './bootstrap-css.js';
    import Axios from 'axios';
    import swal from 'sweetalert';
    import $ from 'jquery';
    import _ from 'lodash';
    import vSelect from 'vue-select';

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            vSelect
        },
        name: 'Expenditure',
        computed: {
            get_mode() {
                return this.mode;
            },
            goods_name_id() {
                return this.mode + '_goods_name';
            },
            goods_brand_name_id() {
                return this.mode + '_goods_brand_name';
            },
            edit_goods_name_id() {
                return this.mode + '_edit_goods_name';
            },
            edit_goods_brand_id() {
                return this.mode + '_edit_goods_brand_name';
            },
            goods_type_id() {
                return this.mode + '_goods_type';
            },
            goods_quantity_id() {
                return this.mode + '_goods_quantity';
            },
            edit_goods_quantity_id() {
                return this.mode + '_edit_goods_quantity';
            },
            goods_stock_id(){
                return this.mode + '_goods_stock';
            },
            goods_consumer_name_id() {
                return this.mode + '_goods_consumer_name';
            },
            increment_button_id() {
                return this.mode + '_goods_increment_button';
            },
            decrement_button_id() {
                return this.mode + '_goods_decrement_button';
            },
            edit_increment_button_id() {
                return this.mode + '_edit_goods_increment_button';
            },
            edit_decrement_button_id() {
                return this.mode + '_edit_goods_decrement_button';
            },
            not_edit_and_insert() {
                if (this.mode === 'INSERT' || this.mode === 'EDIT') {
                    return false;
                } else {
                    return true;
                }
            },
            not_insert() {
                if (this.mode === 'INSERT') {
                    return false;
                } else {
                    return true;
                }
            },
            get_latest_quantity() {
                return this.goods_stock - this.quantity_goods;
            },
            get_latest_quantity_edit() {
                return this.edit_goods_stock - this.edit_quantity_goods;
            },
            get_latest_quantity_view(){
                let stock_dump = this.goods_stock - this.quantity_goods;

                return stock_dump + this.quantity_goods;
            },
            get_latest_quantity_percentage(){
                let stock = this.quantity_goods/this.goods_stock*100;
                if(this.goods_stock !== 0) {
                    return 100 - stock;
                } else {
                    return 0;
                }
            },
            get_latest_quantity_percentage_edit(){
                let stock = this.edit_quantity_goods/this.edit_goods_stock*100;
                if(this.edit_goods_stock !== 0) {
                    return 100 - stock;
                } else {
                    return 0;
                }
            },
            get_latest_quantity_percentage_view(){
                let percentage = this.goods_stock/this.quantity_goods*100;

                if(this.goods_stock !== 0) {
                    return 100 - percentage;
                } else {
                    return 0;
                }
            }
        },
        data() {
            return {
                mode: "INSERT",
                css: BootstrapStyle,
                goods: []
            };
        },
        methods: {
            fetchGoodsData(){
                Axios.get('/api/history/get/quantity')
                    .then((res) => {
                        this.goods = res.data;
                    }).catch((err) => {
                        console.log(err);
                })
            },
            exportPDF(){
                window.open('/history/get/quantity/pdf', '_blank');
            }
        },
        mounted(){
            this.fetchGoodsData();
        }
    };
</script>
<style>
    .pagination {
        margin-top: 0;
    }

    .btn.btn-border {
        border: 1px solid;
        margin-right: 2px;
    }

    .vuetable-pagination-info {
        margin-top: 8px !important;
    }

    span.sort-icon {
        float: right;
        color: #ff9100;
    }
</style>
